PORT=3000
MONGODB_URI=mongodb://localhost:27017/otp-service
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password
OTP_VALIDITY_PERIOD_MINUTES=5
OTP_SIZE=6
ALLOWED_DOMAINS=
BLOCK_KEYWORDS_RULES=spam,test,fake
